services:
  db:
     image: mysql:latest
     restart: unless-stopped
     environment:
       MYSQL_ROOT_PASSWORD: root-pass
       MYSQL_DATABASE: mydb
       MYSQL_USER: admin
       MYSQL_PASSWORD: password
     ports:
       - "3306:3306"
     volumes:
       - ./data:/var/lib/mysql
